<html>  
    <head>  
        <title>Image Upload</title>  
		<link rel="icon" type="image/png" href="/images/brain-favicon-01.png" />
		<script src="/javascripts/jquery.min.js"></script>  
		<script src="/javascripts/bootstrap.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        
    </head>  
    <body>  
        <div class="container">
<!-- ############################################################################################# -->
            <br />
            <h3 align="center">Single Image Upload</h3>
            <br />
            <br />

            <form action="/upload-img" enctype="multipart/form-data" method="post" id="single_image">
            
                <div class="panel panel-default">
                  <div class="panel-heading">Single image upload</div>
                  <div class="panel-body" align="center">
                    <input type="file" name="file-to-upload" id="file-to-upload1"  />
                    <br>
                    <input type="button" value="Upload" id="btn_single" onClick="singleImageUpload()">
                    <div id="uploaded_image"></div>
                  </div>
                </div>

            </form>
<!-- ############################################################################################# -->
            <br />
            <h3 align="center">Multiple Image Upload</h3>
            <br />
            <br />

            <form action="/upload-imges" enctype="multipart/form-data" method="post" id="multiple_image">
            
                <div class="panel panel-default">
                  <div class="panel-heading">Multiple image upload</div>
                  <div class="panel-body" align="center">
                    <input type="file" name="file-to-upload" id="file-to-upload2" multiple="true" />
                    <br>
                    <input type="button" value="Upload" id="btn_multiple" onClick="multipleImageUpload()">
                    <div id="uploaded_image"></div>
                  </div>
                </div>

            </form>
<!-- ############################################################################################# -->
            <br />
            <h3 align="center">Single Image Upload With Ajax</h3>
            <br />
            <br />

            <form id="single_upload" enctype="multipart/form-data">
            
                <div class="panel panel-default">
                  <div class="panel-heading">Single image upload with ajax</div>
                  <div class="panel-body" align="center">
                    <input type="file" name="file-to-upload" id="file-to-upload3"  />
                    <br>
                    <input type="button" value="Upload" onClick="singleImageUploadWithAjax()" id="btn_single_ajax">
                    <div id="uploaded_image_1"></div>
                  </div>
                </div>

            </form>
<!-- ############################################################################################# -->
            <br />
            <h3 align="center">Multiple Image Upload With Ajax</h3>
            <br />
            <br />

            <form id="multiple_upload" enctype="multipart/form-data">
            
                <div class="panel panel-default">
                  <div class="panel-heading">Multiple image upload with ajax</div>
                  <div class="panel-body" align="center">
                    <input type="file" name="file-to-upload" id="file-to-upload4" multiple="true"  />
                    <br>
                    <input type="button" value="Upload" id="btn_multiple_ajax" onClick="multipleImageUploadWithAjax()">
                    <div id="uploaded_image_2"></div>
                  </div>
                </div>

            </form>
            <br />

<!-- ############################################################################################# -->

        </div>
        <!-- Footer -->
<footer class="page-footer font-small blue pt-4">


  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://anshulapps.in" target="_blank"> anshulapps.in</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <script>

    function singleImageUpload(){
      var fileUpload = document.getElementById("file-to-upload1");
      if (typeof (fileUpload.files) != "undefined"  && $('#file-to-upload1').val() != '') {
          var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
          if(size < 1200){
            $('#single_image').submit();
          }else{
            alert("Max upload size is 1 MB");
          }
      } else {
          alert("This browser does not support HTML5.");
      }
    }

    function multipleImageUpload(){
      var fileUpload = document.getElementById("file-to-upload2");
      if (typeof (fileUpload.files) != "undefined" && $('#file-to-upload2').val() != '') {
          var count = fileUpload.files.length;
          var flag = 0;
          var flag_text = '';
          if(count > 5){
            alert("Max upload limit is 5 Images");
          }else{
            for(var i = 0; i < count; i++){
              var size = parseFloat(fileUpload.files[i].size / 1024).toFixed(2);
              if(size > 1200){
                flag = 1;
                flag_text += fileUpload.files[i].name+', ';
              }
            }
            if(flag == 1){
              alert("Max upload size is 1 MB. "+flag_text+" are more than 1 MB.");
            }else{
              $('#multiple_image').submit();
            }
          }
          
      } else {
          alert("This browser does not support HTML5.");
      }
    }

    function singleImageUploadWithAjax(){
      var fileUpload = document.getElementById("file-to-upload3");
      
      if (typeof (fileUpload.files) != "undefined" && $('#file-to-upload3').val() != '') {
          var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
          if(size < 1200){
            $("#btn_single_ajax").attr('value', 'Uploading...');
            $("#btn_single_ajax").attr("disabled", true);
            let myForm = document.getElementById('single_upload');
            $.ajax({  
                url: "/upload-img",  
                type: "POST",  
                data: new FormData(myForm),
                contentType: false,  
                processData:false,  
                success: function(data){  
                    $('#file-to-upload3').val('');
                    var html = '';
                    for(var i = 0; i < data.length; i++){
                        html += '<img src="'+data[i].thumb_url+'">';
                    }
                    $('#uploaded_image_1').append(html);
                    $("#btn_single_ajax").attr('value', 'Upload');
                    $("#btn_single_ajax").attr("disabled", false);
                }  
            }); 
          }else{
            alert("Max upload size is 1 MB");
            $('#file-to-upload3').val('');
          }
      } else {
          alert("This browser does not support HTML5.");
      }
    }

    function multipleImageUploadWithAjax(){

      var fileUpload = document.getElementById("file-to-upload4");
      if (typeof (fileUpload.files) != "undefined" && $('#file-to-upload4').val() != '') {

          var count = fileUpload.files.length;
          var flag = 0;
          var flag_text = '';
          if(count > 5){

            alert("Max upload limit is 5 Images");
            $('#file-to-upload4').val('');

          }else{

            for(var i = 0; i < count; i++){
              var size = parseFloat(fileUpload.files[i].size / 1024).toFixed(2);
              if(size > 1200){
                flag = 1;
                flag_text += fileUpload.files[i].name+', ';
              }
            }

            if(flag == 1){

              alert("Max upload size is 1 MB. "+flag_text+" are more than 1 MB.");
              $('#file-to-upload4').val('');

            }else{

              $("#btn_multiple_ajax").attr('value', 'Uploading...');
              $("#btn_multiple_ajax").attr("disabled", true);
              let myForm = document.getElementById('multiple_upload');

              $.ajax({  
                  url: "/upload-imges",  
                  type: "POST",  
                  data: new FormData(myForm),  
                  contentType: false,  
                  processData:false,  
                  success: function(data){  

                    $('#file-to-upload4').val('');
                    var html = '';
                    for(var i = 0; i < data.length; i++){
                        html += '<img src="'+data[i].thumb_url+'">';
                    }
                    $('#uploaded_image_2').append(html);
                    $("#btn_multiple_ajax").attr('value', 'Upload');
                    $("#btn_multiple_ajax").attr("disabled", false);

                  }  
              });

            }

          }
          
      } else {
          alert("This browser does not support HTML5.");
      }
    }

  </script>

    </body>  
</html>


